<template>
    <div id="contents">
        <div class="title-wrap">
            <span>{{ title }}</span>
            <button class="close-btn" @click="close">X</button>
        </div>
        <div class="hint-wrap">
            <span class="hint">{{ hint }}</span>
        </div>
        <div v-if="isActiveImageCrop" class="img-crop-wrap" >
            <div class="img-crop">
                <img-crop :data="loadData" ref="imgCrop" />
            </div>
            <div class="control-wrap">
                <button @click="activeImageCrop(false)">취소</button>
                <button class="confirm" @click="confirm">확인</button>
            </div>
        </div>
        <div v-else class="img-crop-wrap">
            <div class="img-crop">
                <img :src="loadData.url" alt="이미지">
            </div>
            <div class="control-wrap">
                <input type="file" ref="file" accept="image/*" @change="change">
            </div>
        </div>

    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
@Component
export default class Home extends Vue {
  // data에 바인딩 된다.
  private title: string = '이미지 등록';
  private width: number = 150;
  private height: number = 150;
  private imageSize: number = 1;
  private isActiveImageCrop: boolean = false;
  private loadData: any = {};

  // computed
  get hint(): string {
    return `(${this.width}px * ${this.height}px / ${this.imageSize}MB미만)`;
  }

  private close(): void {
    alert('close..');
  }
  private activeImageCrop(isActive: boolean): void {
    this.isActiveImageCrop = isActive;
  }

  private read(files: any) {
    return new Promise((resolve, reject) => {
      if (!files || files.length === 0) {
        resolve();
        return;
      }
      const file = files[0];
      if (/^image\/\w+$/.test(file.type)) {
        resolve({
          loaded: true,
          name: file.name,
          type: file.type,
          url: window.URL.createObjectURL(file),
        });
      } else {
        reject(new Error('Please choose an image file.'));
      }
    });
  }

  private change(e: any) {
    const { target } = e;
    this.read(target.files)
      .then((data) => {
        target.value = '';
        this.update(data);

        // 이미지 크롭 화면 전환
        this.activeImageCrop(true);

      })
      .catch((e: any) => {
        target.value = '';
        this.alert(e);
      });
  }

  // 확인 버튼 클릭(ImgCrop의 crop 함수 호출)
  private confirm() {
    // imgCrop 컴포넌트의 crop() 함수를 실행시 cropedData가 반환 된다.
    const data = this.$refs.imgCrop.crop();
    // 반환된 데이터를 update
    this.update(data);
    // 이미지크롭 화면을 안보여준다.
    this.activeImageCrop(false);
  }

  private alert(e: any) {
    window.alert(e && e.message ? e.message : e);
  }
  private update(data: any) {
    Object.assign(this.loadData, data);
  }

}
</script>

<style lang="scss">
#contents {
  border: 1px solid #7c5088;
  text-align: left;
  padding-bottom: 20px;
  .title-wrap {
    border-bottom: 1px solid #7c5088;
    padding: 10px;
    font-weight: bold;
    color: #2c3e50;
    .close-btn {
      float: right;
      border: none;
      font-weight: bold;
      font-size: 1.3em;
    }
  }
  .hint-wrap {
    padding: 10px;
    .hint {
      color: #2c3e50;
    }
  }
  .img-crop-wrap {
    width: 100%;
    /*border: 1px solid #7c5088;*/
    .img-crop {
      margin: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      min-height: 400px;
      border: 1px solid #888888;
      img {
        max-width: 100%;
      }
    }
    .control-wrap {
      text-align: center;
      button {
        padding: 10px 30px;
        border-radius: 5px;
        background: none;
        &.confirm {
          background: orangered;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}
</style>
