<template>
    <div @dblclick="dblClick">
        <img ref="image" :src="data.url" :alt="data.name" @load="start">
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import 'cropperjs/dist/cropper.css';
import Cropper from 'cropperjs';

@Component
export default class ImgCrop extends Vue {
  // props로 받는 이미지 데이터
  @Prop({
    default: null,
  })
  private data: any;
  private cropper: any = null;
  private canvasData: any = null;
  private cropBoxData: any = null;
  private croppedData: any = null;

  // 이미지 로드시 Cropper 실행
  private start() {
    const { data } = this;
    if (data.cropped) {
      return;
    }

    this.cropper = new Cropper(this.$refs.image, {
      autoCrop: true,
      // dragMode: 'move',
      background: false,
      ready: () => {
        if (this.croppedData) {
          this.cropper
            .crop()
            .setData(this.croppedData)
            .setCanvasData(this.canvasData)
            .setCropBoxData(this.cropBoxData);
        }
      },
      crop: ({ detail }) => {
        if (detail.width > 0 && detail.height > 0 && !data.cropping) {
          this.update({
            cropping: true,
          });
        }
      },
    });
  }

  // 크롭
  public crop() {
    const { cropper, data } = this;
    if (data.cropping) {
      this.croppedData = cropper.getData();
      this.canvasData = cropper.getCanvasData();
      this.cropBoxData = cropper.getCropBoxData();

      const cropData = {
        cropped: true,
        cropping: false,
        previousUrl: data.url,
        url: cropper
          .getCroppedCanvas(
            data.type === 'image/png'
              ? {}
              : {
                  fillColor: '#fff',
                }
          )
          .toDataURL(data.type),
      };
      // 크롭이미지 업데이트
      this.update(cropData);
      this.stop();

      return cropData;
    }
  }
  // Cropper 비활성화
  private stop() {
    if (this.cropper) {
      this.cropper.destroy();
      this.cropper = null;
    }
  }

  // 이미지 정보 및 크롭정보 업데이트
  private update(data: any) {
    Object.assign(this.data, data);
  }

  // 더블클릭시 줌
  private dblClick(e: any) {
    const { cropper, data } = this;

    if (data.isZoom) {
      cropper.zoom(-.5);
      this.update({
        isZoom: false,
      });
    } else {
      cropper.zoom(0.5);
      this.update({
        isZoom: true,
      });
    }
  }
}
</script>

<style lang="scss">
</style>
